name: Publish
on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          scope: "@nivalis"

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: bun run build

      # - name: Setup npm
      #   env:
      #     NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      #   run: |
      #     npm config set @nivalis:registry=https://npm.pkg.github.com
      #     npm config set //npm.pkg.github.com/:_authToken=${{ secrets.NPM_TOKEN }}

      # - name: Publish
      #   run: npm publish --provenance --access public

      - name: Setup npm
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm config set @nivalis:registry=https://registry.npmjs.org
          npm config set //registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}

      - name: Publish
        run: npm publish --provenance --access public
